body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100vh;
    height: 100vh;
    margin: auto;
    padding: 0;
    background-color: lightblue;
}

#quote-output {
    background-image: url("../images/hills.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    height: 500px;
    text-align: center;
}

img {
    height: 500px;
    width: 800px;
}

.text {
    font-size: 2em;
}

.font-on {
    letter-spacing: -3px;
    font-family: "Impact", fantasy, sans-serif;
}