body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100vh;
    height: 100vh;
    margin: auto;
    padding: 0;
    background-color: lightblue;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#quote-output {
    background-repeat:no-repeat;
    background-size:cover;
    height: 500px;
    text-align: center;
    border: 10px groove rgb(128, 98, 60);
    box-shadow: 10px 10px 5px #444;
}


img {
    height: 500px;
    width: 800px;
}

.text {
    font-size: 2em;
}

.font-on {
    letter-spacing: -3px;
    font-family: "Impact", fantasy, sans-serif;
}

#btn-output {
    text-align: center;
    margin-top: 20px;
}

#refresh-btn {
    font-size: 3em;
    animation: colors 5s alternate infinite;
    background-color: rgb(167, 255, 248);
    border: 3px outset goldenrod;
}
#refresh-btn:hover {
    background-color: rgb(157, 231, 233);
    cursor: pointer;
}

@keyframes colors {
    25% {
        color: blue
    }
    50% {
        color: purple;
    }
    75% {
        color: royalblue;
    }
    100% {
        color: darkslateblue;
    }
}